<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readers list</title>
</head>
<body>
    <h1>Readers List:</h1>
    <strong><a href="/people/new">Create new person</a> | <a href="/">Back to main page</a></strong>
    <hr/>
    <div th:each="person: ${people}">
        <a th:href="@{/people/{id}(id=${person.getId()})}">
            <strong>(id<span th:text="${person.getId()}">i</span>)</strong>
            <span th:text="${person.getName()}">fn</span>
            (<span th:text="${person.getBirth()}"></span>)
        </a>
    </div>
    <hr/>
</body>
</html>