<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<h2>Creating new person.</h2>
<a href="/">Back to main page</a>
<br/>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Enter Full name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:lightcoral" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Full Name error</div>
    <hr/>
    <label for="birth">Enter birth year: </label>
    <input type="text" th:field="*{birth}" id="birth">
    <div style="color:lightcoral" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Birth Year error</div>
    <hr/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>